<h1>{{title}}</h1>

<form>

  <input type="text" name="Nombre" [(ngModel)]="nombre"><br/>

  <input type="text" name="Apellido"[(ngModel)]="apellido"><br/>

  <input type="submit" value="Registrar" (click)="registrarUsuario()">

</form>

<p *ngIf = "registrado; else sinRegistrar">{{mensaje}}con el nombre de {{nombre}} {{apellido}}</p>

<ng-template #sinRegistrar>

  <p>Nadie Registado</p>

</ng-template>

<br/><br/>

<ul>
  <li *ngFor="let entrada of entradas; let i = index"><span style = "font-size: larger; font-weight: bold;">{{entrada.titulo}}</span>
  . Entrada {{i+1}}

  </li>




</ul>